In [1]:
import pandas as pd

In [2]:
gapminder = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [4]:
gapminder.sample(10)

         country continent  year  lifeExp       pop    gdpPercap
1524    Thailand      Asia  1952   50.848  21289402   757.797418
309     Colombia  Americas  1997   70.313  37657830  6117.361746
1192    Paraguay  Americas  1972   65.815   2614104  2523.337977
123        Benin    Africa  1967   44.885   2427334  1035.831411
934       Malawi    Africa  2002   45.009  11824495   665.423119
1538        Togo    Africa  1962   43.922   1528098  1067.534810
1035  Mozambique    Africa  1967   38.113   8680909   566.669154
19       Albania    Europe  1987   72.000   3075321  3738.932735
1624     Uruguay  Americas  1972   68.673   2829526  5703.408898
1431   Sri Lanka      Asia  1967   64.266  11737396  1135.514326

In [5]:
gapminder.groupby('year').lifeExp.mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [7]:
s = gapminder.groupby(['continent', 'year']).lifeExp.mean()

In [8]:
type(s)

pandas.core.series.Series

In [10]:
s.index

MultiIndex(levels=[['Africa', 'Americas', 'Asia', 'Europe', 'Oceania'], [1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002, 2007]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]],
           names=['continent', 'year'])

In [11]:
s.unstack()

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
continent,,,,,,,,,,,,
Africa,39.135500,41.266346,43.319442,45.334538,47.450942,49.580423,51.592865,53.344788,53.629577,53.598269,53.325231,54.806038
Americas,53.279840,55.960280,58.398760,60.410920,62.394920,64.391560,66.228840,68.090720,69.568360,71.150480,72.422040,73.608120
Asia,46.314394,49.318544,51.563223,54.663640,57.319269,59.610556,62.617939,64.851182,66.537212,68.020515,69.233879,70.728485
Europe,64.408500,66.703067,68.539233,69.737600,70.775033,71.937767,72.806400,73.642167,74.440100,75.505167,76.700600,77.648600
Oceania,69.255000,70.295000,71.085000,71.310000,71.910000,72.855000,74.290000,75.320000,76.945000,78.190000,79.740000,80.719500

In [13]:
s.reset_index()

   continent  year    lifeExp
0     Africa  1952  39.135500
1     Africa  1957  41.266346
2     Africa  1962  43.319442
3     Africa  1967  45.334538
4     Africa  1972  47.450942
5     Africa  1977  49.580423
6     Africa  1982  51.592865
7     Africa  1987  53.344788
8     Africa  1992  53.629577
9     Africa  1997  53.598269
10    Africa  2002  53.325231
11    Africa  2007  54.806038
12  Americas  1952  53.279840
13  Americas  1957  55.960280
14  Americas  1962  58.398760
15  Americas  1967  60.410920
16  Americas  1972  62.394920
17  Americas  1977  64.391560
18  Americas  1982  66.228840
19  Americas  1987  68.090720
20  Americas  1992  69.568360
21  Americas  1997  71.150480
22  Americas  2002  72.422040
23  Americas  2007  73.608120
24      Asia  1952  46.314394
25      Asia  1957  49.318544
26      Asia  1962  51.563223
27      Asia  1967  54.663640
28      Asia  1972  57.319269
29      Asia  1977  59.610556
30      Asia  1982  62.617939
31      Asia  1987  64.851182
32      Asia  1992  66.537212
33      Asia  1997  68.020515
34      Asia  2002  69.233879
35      Asia  2007  70.728485
36    Europe  1952  64.408500
37    Europe  1957  66.703067
38    Europe  1962  68.539233
39    Europe  1967  69.737600
40    Europe  1972  70.775033
41    Europe  1977  71.937767
42    Europe  1982  72.806400
43    Europe  1987  73.642167
44    Europe  1992  74.440100
45    Europe  1997  75.505167
46    Europe  2002  76.700600
47    Europe  2007  77.648600
48   Oceania  1952  69.255000
49   Oceania  1957  70.295000
50   Oceania  1962  71.085000
51   Oceania  1967  71.310000
52   Oceania  1972  71.910000
53   Oceania  1977  72.855000
54   Oceania  1982  74.290000
55   Oceania  1987  75.320000
56   Oceania  1992  76.945000
57   Oceania  1997  78.190000
58   Oceania  2002  79.740000
59   Oceania  2007  80.719500

In [16]:
s.head()

continent  year
Africa     1952    39.135500
           1957    41.266346
           1962    43.319442
           1967    45.334538
           1972    47.450942
Name: lifeExp, dtype: float64

In [15]:
s.loc['Americas']

year
1952    53.27984
1957    55.96028
1962    58.39876
1967    60.41092
1972    62.39492
1977    64.39156
1982    66.22884
1987    68.09072
1992    69.56836
1997    71.15048
2002    72.42204
2007    73.60812
Name: lifeExp, dtype: float64

In [17]:
s.loc['Americas', 2007]

73.60812000000001

In [18]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [19]:
gm = gapminder.set_index(['continent', 'year'])

In [23]:
gm.index

MultiIndex(levels=[['Africa', 'Americas', 'Asia', 'Europe', 'Oceania'], [1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002, 2007]],
           labels=[[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]],
           names=['continent', 'year'])

In [25]:
gm.sort_index(inplace=True)

In [26]:
gm

                                 country  lifeExp       pop     gdpPercap
continent year
Africa    1952                   Algeria   43.077   9279525   2449.008185
          1952                    Angola   30.015   4232095   3520.610273
          1952                     Benin   38.223   1738315   1062.752200
          1952                  Botswana   47.622    442308    851.241141
          1952              Burkina Faso   31.975   4469979    543.255241
          1952                   Burundi   39.031   2445618    339.296459
          1952                  Cameroon   38.523   5009067   1172.667655
          1952  Central African Republic   35.463   1291695   1071.310713
          1952                      Chad   38.092   2682462   1178.665927
          1952                   Comoros   40.715    153936   1102.990936
          1952          Congo, Dem. Rep.   39.143  14100005    780.542326
          1952               Congo, Rep.   42.111    854885   2125.621418
          1952             Cote d'Ivoire   40.477   2977019   1388.594732
          1952                  Djibouti   34.812     63149   2669.529475
          1952                     Egypt   41.893  22223309   1418.822445
          1952         Equatorial Guinea   34.482    216964    375.643123
          1952                   Eritrea   35.928   1438760    328.940557
          1952                  Ethiopia   34.078  20860941    362.146280
          1952                     Gabon   37.003    420702   4293.476475
          1952                    Gambia   30.000    284320    485.230659
          1952                     Ghana   43.149   5581001    911.298937
          1952                    Guinea   33.609   2664249    510.196492
          1952             Guinea-Bissau   32.500    580653    299.850319
          1952                     Kenya   42.270   6464046    853.540919
          1952                   Lesotho   42.138    748747    298.846212
          1952                   Liberia   38.480    863308    575.572996
          1952                     Libya   42.723   1019729   2387.548060
          1952                Madagascar   36.681   4762912   1443.011715
          1952                    Malawi   36.256   2917802    369.165080
          1952                      Mali   33.685   3838168    452.336981
...                                  ...      ...       ...           ...
Europe    2007                  Slovenia   77.926   2009245  25768.257590
          2007                     Spain   80.941  40448191  28821.063700
          2007                    Sweden   80.884   9031088  33859.748350
          2007               Switzerland   81.701   7554661  37506.419070
          2007                    Turkey   71.777  71158647   8458.276384
          2007            United Kingdom   79.425  60776238  33203.261280
Oceania   1952                 Australia   69.120   8691212  10039.595640
          1952               New Zealand   69.390   1994794  10556.575660
          1957                 Australia   70.330   9712569  10949.649590
          1957               New Zealand   70.260   2229407  12247.395320
          1962                 Australia   70.930  10794968  12217.226860
          1962               New Zealand   71.240   2488550  13175.678000
          1967                 Australia   71.100  11872264  14526.124650
          1967               New Zealand   71.520   2728150  14463.918930
          1972                 Australia   71.930  13177000  16788.629480
          1972               New Zealand   71.890   2929100  16046.037280
          1977                 Australia   73.490  14074100  18334.197510
          1977               New Zealand   72.220   3164900  16233.717700
          1982                 Australia   74.740  15184200  19477.009280
          1982               New Zealand   73.840   3210650  17632.410400
          1987                 Australia   76.320  16257249  21888.889030
          1987               New Zealand   74.320   3317166  19007.191290
          1992                 Australia   77.560  17481977  23424.766830
          1992               New Zealand   76.330   3437674  18363.324940
          1997                 Australia   78.830  18565243  26997.936570
          1997               New Zealand   77.550   3676187  21050.413770
          2002                 Australia   80.370  19546792  30687.754730
          2002               New Zealand   79.110   3908037  23189.801350
          2007                 Australia   81.235  20434176  34435.367440
          2007               New Zealand   80.204   4115771  25185.009110

[1704 rows x 4 columns]

In [27]:
gm.loc['Americas']

                  country  lifeExp        pop     gdpPercap
year
1952            Argentina   62.485   17876956   5911.315053
1952              Bolivia   40.414    2883315   2677.326347
1952               Brazil   50.917   56602560   2108.944355
1952               Canada   68.750   14785584  11367.161120
1952                Chile   54.745    6377619   3939.978789
1952             Colombia   50.643   12350771   2144.115096
1952           Costa Rica   57.206     926317   2627.009471
1952                 Cuba   59.421    6007797   5586.538780
1952   Dominican Republic   45.928    2491346   1397.717137
1952              Ecuador   48.357    3548753   3522.110717
1952          El Salvador   45.262    2042865   3048.302900
1952            Guatemala   42.023    3146381   2428.237769
1952                Haiti   37.579    3201488   1840.366939
1952             Honduras   41.912    1517453   2194.926204
1952              Jamaica   58.530    1426095   2898.530881
1952               Mexico   50.789   30144317   3478.125529
1952            Nicaragua   42.314    1165790   3112.363948
1952               Panama   55.191     940080   2480.380334
1952             Paraguay   62.649    1555876   1952.308701
1952                 Peru   43.902    8025700   3758.523437
1952          Puerto Rico   64.280    2227000   3081.959785
1952  Trinidad and Tobago   59.100     662850   3023.271928
1952        United States   68.440  157553000  13990.482080
1952              Uruguay   66.071    2252965   5716.766744
1952            Venezuela   55.088    5439568   7689.799761
1957            Argentina   64.399   19610538   6856.856212
1957              Bolivia   41.890    3211738   2127.686326
1957               Brazil   53.285   65551171   2487.365989
1957               Canada   69.960   17010154  12489.950060
1957                Chile   56.074    7048426   4315.622723
...                   ...      ...        ...           ...
2002          Puerto Rico   77.778    3859606  18855.606180
2002  Trinidad and Tobago   68.976    1101832  11460.600230
2002        United States   77.310  287675526  39097.099550
2002              Uruguay   75.307    3363085   7727.002004
2002            Venezuela   72.766   24287670   8605.047831
2007            Argentina   75.320   40301927  12779.379640
2007              Bolivia   65.554    9119152   3822.137084
2007               Brazil   72.390  190010647   9065.800825
2007               Canada   80.653   33390141  36319.235010
2007                Chile   78.553   16284741  13171.638850
2007             Colombia   72.889   44227550   7006.580419
2007           Costa Rica   78.782    4133884   9645.061420
2007                 Cuba   78.273   11416987   8948.102923
2007   Dominican Republic   72.235    9319622   6025.374752
2007              Ecuador   74.994   13755680   6873.262326
2007          El Salvador   71.878    6939688   5728.353514
2007            Guatemala   70.259   12572928   5186.050003
2007                Haiti   60.916    8502814   1201.637154
2007             Honduras   70.198    7483763   3548.330846
2007              Jamaica   72.567    2780132   7320.880262
2007               Mexico   76.195  108700891  11977.574960
2007            Nicaragua   72.899    5675356   2749.320965
2007               Panama   75.537    3242173   9809.185636
2007             Paraguay   71.752    6667147   4172.838464
2007                 Peru   71.421   28674757   7408.905561
2007          Puerto Rico   78.746    3942491  19328.709010
2007  Trinidad and Tobago   69.819    1056608  18008.509240
2007        United States   78.242  301139947  42951.653090
2007              Uruguay   76.384    3447496  10611.462990
2007            Venezuela   73.747   26084662  11415.805690

[300 rows x 4 columns]

In [28]:
gm.loc['Americas', 2007]

                            country  lifeExp        pop     gdpPercap
continent year
Americas  2007            Argentina   75.320   40301927  12779.379640
          2007              Bolivia   65.554    9119152   3822.137084
          2007               Brazil   72.390  190010647   9065.800825
          2007               Canada   80.653   33390141  36319.235010
          2007                Chile   78.553   16284741  13171.638850
          2007             Colombia   72.889   44227550   7006.580419
          2007           Costa Rica   78.782    4133884   9645.061420
          2007                 Cuba   78.273   11416987   8948.102923
          2007   Dominican Republic   72.235    9319622   6025.374752
          2007              Ecuador   74.994   13755680   6873.262326
          2007          El Salvador   71.878    6939688   5728.353514
          2007            Guatemala   70.259   12572928   5186.050003
          2007                Haiti   60.916    8502814   1201.637154
          2007             Honduras   70.198    7483763   3548.330846
          2007              Jamaica   72.567    2780132   7320.880262
          2007               Mexico   76.195  108700891  11977.574960
          2007            Nicaragua   72.899    5675356   2749.320965
          2007               Panama   75.537    3242173   9809.185636
          2007             Paraguay   71.752    6667147   4172.838464
          2007                 Peru   71.421   28674757   7408.905561
          2007          Puerto Rico   78.746    3942491  19328.709010
          2007  Trinidad and Tobago   69.819    1056608  18008.509240
          2007        United States   78.242  301139947  42951.653090
          2007              Uruguay   76.384    3447496  10611.462990
          2007            Venezuela   73.747   26084662  11415.805690

In [29]:
gm.loc[('Americas', 2007), :]

                            country  lifeExp        pop     gdpPercap
continent year
Americas  2007            Argentina   75.320   40301927  12779.379640
          2007              Bolivia   65.554    9119152   3822.137084
          2007               Brazil   72.390  190010647   9065.800825
          2007               Canada   80.653   33390141  36319.235010
          2007                Chile   78.553   16284741  13171.638850
          2007             Colombia   72.889   44227550   7006.580419
          2007           Costa Rica   78.782    4133884   9645.061420
          2007                 Cuba   78.273   11416987   8948.102923
          2007   Dominican Republic   72.235    9319622   6025.374752
          2007              Ecuador   74.994   13755680   6873.262326
          2007          El Salvador   71.878    6939688   5728.353514
          2007            Guatemala   70.259   12572928   5186.050003
          2007                Haiti   60.916    8502814   1201.637154
          2007             Honduras   70.198    7483763   3548.330846
          2007              Jamaica   72.567    2780132   7320.880262
          2007               Mexico   76.195  108700891  11977.574960
          2007            Nicaragua   72.899    5675356   2749.320965
          2007               Panama   75.537    3242173   9809.185636
          2007             Paraguay   71.752    6667147   4172.838464
          2007                 Peru   71.421   28674757   7408.905561
          2007          Puerto Rico   78.746    3942491  19328.709010
          2007  Trinidad and Tobago   69.819    1056608  18008.509240
          2007        United States   78.242  301139947  42951.653090
          2007              Uruguay   76.384    3447496  10611.462990
          2007            Venezuela   73.747   26084662  11415.805690

In [30]:
gm.loc[('Americas', 2007), ['country', 'lifeExp']]

                            country  lifeExp
continent year
Americas  2007            Argentina   75.320
          2007              Bolivia   65.554
          2007               Brazil   72.390
          2007               Canada   80.653
          2007                Chile   78.553
          2007             Colombia   72.889
          2007           Costa Rica   78.782
          2007                 Cuba   78.273
          2007   Dominican Republic   72.235
          2007              Ecuador   74.994
          2007          El Salvador   71.878
          2007            Guatemala   70.259
          2007                Haiti   60.916
          2007             Honduras   70.198
          2007              Jamaica   72.567
          2007               Mexico   76.195
          2007            Nicaragua   72.899
          2007               Panama   75.537
          2007             Paraguay   71.752
          2007                 Peru   71.421
          2007          Puerto Rico   78.746
          2007  Trinidad and Tobago   69.819
          2007        United States   78.242
          2007              Uruguay   76.384
          2007            Venezuela   73.747

In [32]:
gm.loc[(['Americas', 'Europe'], [1952, 2007]), ['country', 'lifeExp']]

                               country  lifeExp
continent year
Americas  1952               Argentina   62.485
          1952                 Bolivia   40.414
          1952                  Brazil   50.917
          1952                  Canada   68.750
          1952                   Chile   54.745
          1952                Colombia   50.643
          1952              Costa Rica   57.206
          1952                    Cuba   59.421
          1952      Dominican Republic   45.928
          1952                 Ecuador   48.357
          1952             El Salvador   45.262
          1952               Guatemala   42.023
          1952                   Haiti   37.579
          1952                Honduras   41.912
          1952                 Jamaica   58.530
          1952                  Mexico   50.789
          1952               Nicaragua   42.314
          1952                  Panama   55.191
          1952                Paraguay   62.649
          1952                    Peru   43.902
          1952             Puerto Rico   64.280
          1952     Trinidad and Tobago   59.100
          1952           United States   68.440
          1952                 Uruguay   66.071
          1952               Venezuela   55.088
          1957               Argentina   64.399
          1957                 Bolivia   41.890
          1957                  Brazil   53.285
          1957                  Canada   69.960
          1957                   Chile   56.074
...                                ...      ...
Europe    2007                 Albania   76.423
          2007                 Austria   79.829
          2007                 Belgium   79.441
          2007  Bosnia and Herzegovina   74.852
          2007                Bulgaria   73.005
          2007                 Croatia   75.748
          2007          Czech Republic   76.486
          2007                 Denmark   78.332
          2007                 Finland   79.313
          2007                  France   80.657
          2007                 Germany   79.406
          2007                  Greece   79.483
          2007                 Hungary   73.338
          2007                 Iceland   81.757
          2007                 Ireland   78.885
          2007                   Italy   80.546
          2007              Montenegro   74.543
          2007             Netherlands   79.762
          2007                  Norway   80.196
          2007                  Poland   75.563
          2007                Portugal   78.098
          2007                 Romania   72.476
          2007                  Serbia   74.002
          2007         Slovak Republic   74.663
          2007                Slovenia   77.926
          2007                   Spain   80.941
          2007                  Sweden   80.884
          2007             Switzerland   81.701
          2007                  Turkey   71.777
          2007          United Kingdom   79.425

[660 rows x 2 columns]

In [33]:
gm.loc[(:, [1952, 2007]), ['country', 'lifeExp']]

SyntaxError: invalid syntax (<ipython-input-33-f765717ce38b>, line 1)

In [46]:
gm.loc[(slice(None), range(1999, 2007)), ['country', 'lifeExp']]

                                 country  lifeExp
continent year
Africa    2002                   Algeria   70.994
          2002                    Angola   41.003
          2002                     Benin   54.406
          2002                  Botswana   46.634
          2002              Burkina Faso   50.650
          2002                   Burundi   47.360
          2002                  Cameroon   49.856
          2002  Central African Republic   43.308
          2002                      Chad   50.525
          2002                   Comoros   62.974
          2002          Congo, Dem. Rep.   44.966
          2002               Congo, Rep.   52.970
          2002             Cote d'Ivoire   46.832
          2002                  Djibouti   53.373
          2002                     Egypt   69.806
          2002         Equatorial Guinea   49.348
          2002                   Eritrea   55.240
          2002                  Ethiopia   50.725
          2002                     Gabon   56.761
          2002                    Gambia   58.041
          2002                     Ghana   58.453
          2002                    Guinea   53.676
          2002             Guinea-Bissau   45.504
          2002                     Kenya   50.992
          2002                   Lesotho   44.593
          2002                   Liberia   43.753
          2002                     Libya   72.737
          2002                Madagascar   57.286
          2002                    Malawi   45.009
          2002                      Mali   51.818
...                                  ...      ...
Europe    2002                   Belgium   78.320
          2002    Bosnia and Herzegovina   74.090
          2002                  Bulgaria   72.140
          2002                   Croatia   74.876
          2002            Czech Republic   75.510
          2002                   Denmark   77.180
          2002                   Finland   78.370
          2002                    France   79.590
          2002                   Germany   78.670
          2002                    Greece   78.256
          2002                   Hungary   72.590
          2002                   Iceland   80.500
          2002                   Ireland   77.783
          2002                     Italy   80.240
          2002                Montenegro   73.981
          2002               Netherlands   78.530
          2002                    Norway   79.050
          2002                    Poland   74.670
          2002                  Portugal   77.290
          2002                   Romania   71.322
          2002                    Serbia   73.213
          2002           Slovak Republic   73.800
          2002                  Slovenia   76.660
          2002                     Spain   79.780
          2002                    Sweden   80.040
          2002               Switzerland   80.620
          2002                    Turkey   70.845
          2002            United Kingdom   78.471
Oceania   2002                 Australia   80.370
          2002               New Zealand   79.110

[142 rows x 2 columns]

In [42]:
1:10

SyntaxError: illegal target for annotation (<ipython-input-42-fb572e210018>, line 1)

In [43]:
range(1, 10)

range(1, 10)

In [44]:
l = [1, 2, 3]

In [45]:
l[1:2]

[2]

In [52]:
list(range(1999, 2008))

[1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007]